/* Код для подключения шрифта в /css/stylename.css */
@font-face {
      font-family: 'ProximaNovaRegular';
      src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
      src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "OpenSansRegular";
      src: url("../fonts/OpenSans/OpenSansRegular.eot");
      src: url("../fonts/OpenSans/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSansRegular.woff") format("woff"),
      url("../fonts/OpenSans/OpenSansRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }


body, html { 
height: 100%;
font-size: 100%;  padding: 0; margin: 0;
background-attachment: fixed;
background-size: cover;
 font-family:'ProximaNovaRegular';
 /**********Варианты написания цвета фона***************/
 /*background-color:yellow;*/
 /*background-color:#E9B96E;*/
 /*background-color:rgba(61,37,67,0.8);*/
}



.user-bg-white {background:#FFF;}
.user-bg-yellow {background:#C4A000;}
.user-bg-orange {background:orange;}
.user-bg-orange1 {background:#CE5C00;}
.user-bg-pink {background:#E812CD;}
.user-bg-pink1 {background:#663562;}
.user-bg-red {background:#A40000;}
.user-bg-red1 {background:#7B0505;}
.user-bg-red2 {background:#5C000D;}
.user-bg-malin {background:#A40039;}
.user-bg-blue {background:#204A87;opacity:1;}
.user-bg-green {background:#37660B;}
.user-bg-salat {background:#78C92B;}
.user-bg-violet {background:#5C3566;}/*92 53 102*/
.user-rgba-violet {background-color: rgba(92,53,102,1);}
.user-bg-violet1 {background:#3D2543;}/*61 37 67*/
.user-rgba-violet1 {background-color: rgba(61,37,67,0.8);}
.user-rgba-violet2 {background-color: rgba(61,37,67,0.5);}
.user-bg-black {background:#000;}
.user-rgba-violet3 {background-color: rgba(61,37,67,0.4);}

.user-rgba-violet-pink {background-color: rgba(198,4,251,0.3);}
.user-rgba-violet-pink1 {background-color: rgba(198,4,251,0.5);}
/*---------------------------*/
.user-bg-violet2{background:#5B5997;}
.user-bg-red3{background:#69161F;}
/*---------------------------*/
.metro-bg-violet1{background:#651FFF;}
.metro-bg-violet2{background:#4527A0;}
.metro-bg-violet3{background:#512DA8;}

.metro-bg-roz1{background:#ff8a80;}
.metro-bg-roz2{background:#FF9E80;}
.metro-bg-roz3{background:#ef9a9a;}
.metro-bg-roz4{background:#E586B3;}

.metro-bg-green1{background:#004D40;}
.metro-bg-green2{background:#1B5E20;}
.metro-bg-green3{background:#827717;}

.metro-bg-red1{background:#ef5350;}
.metro-bg-red2{background:#AD1457;}

.metro-bg-yellow1{background:#E65100;}
.metro-bg-yellow2{background:#EF6950;}
.metro-bg-yellow3{background:#CE5C00;}

.metro-bg-brown{background:#3E2723;}
/*-----------------------------*/
.user-rgba-black-1 {background-color: rgba(0,0,0,0.1);}
.user-rgba-black-2 {background-color: rgba(0,0,0,0.2);}
.user-rgba-black-3 {background-color: rgba(0,0,0,0.3);}
.user-rgba-black-4 {background-color: rgba(0,0,0,0.4);}
.user-rgba-black-5 {background-color: rgba(0,0,0,0.5);}
.user-rgba-black-6 {background-color: rgba(0,0,0,0.6);}
.user-rgba-black-7 {background-color: rgba(0,0,0,0.7);}
.user-rgba-black-8 {background-color: rgba(0,0,0,0.8);}
.user-rgba-black-9 {background-color: rgba(0,0,0,0.9);}

.user-rgba-white-1 {background-color: rgba(255,255,255,0.1);}
.user-rgba-white-2 {background-color: rgba(255,255,255,0.2);}
.user-rgba-white-3 {background-color: rgba(255,255,255,0.3);}
.user-rgba-white-4 {background-color: rgba(255,255,255,0.4);}
.user-rgba-white-5 {background-color: rgba(255,255,255,0.5);}
.user-rgba-white-6 {background-color: rgba(255,255,255,0.6);}
.user-rgba-white-7 {background-color: rgba(255,255,255,0.7);}
.user-rgba-white-8 {background-color: rgba(255,255,255,0.8);}
.user-rgba-white-9 {background-color: rgba(255,255,255,0.9);}

.u_orange{color:#FF8800;}
.u_red{color:#FF0000;}
.u_violet{color:#AF00E8;}
.u_yellow{color:#F4FF00;}
.u_white{color:#FFF;}
.u_green{color:#AFB42B;}

.user-rgba-sliv-7 {background-color: rgba(190,142,128,0.7);}
.user-rgba-malin-7 {background-color: rgba(170,0,65,0.7);}
.user-rgba-red1-7 {background-color: rgba(164,0,0,0.7);}
.user-rgba-red2-7 {background-color: rgba(115,4,4,0.7);}
.user-rgba-orang1-7 {background-color: rgba(206,92,0,0.7);}
.user-rgba-gray1-7 {background-color: rgba(218,219,213,0.7);}
/*---------------------------------------*/

.u_fixed_fluid{
  position: fixed; /* Фиксированное положение */
  /* right: 10px; Расстояние от правого края окна браузера */
  /*  top: 0%;  Расстояние сверху */
  /*   padding: 10px; Поля вокруг текста */ 
 /* background: #ffe;    Цвет фона */ 
  /*  border: 1px solid #333; Параметры рамки */ 
  width:98.1%; /* */ 
   left:1.2%;
    z-index:2000;   
}

.us_border{
  border:1px solid red;
}

.main_container{
  width:97%;
  /*  border:1px solid red;*/ 
}


.name_site{
font-family: 'Montez', cursive;
color:white;
margin-top:0px;
margin-left:5px;
font-size:70px;

}

.u_torg{
  font-size:16px;
  margin-top:-20px;
  margin-left:35px;
  color:white;
  font-weight:bold;
}

.row_header{
 height:100px; 
}

.col_container_panel{
   padding-top:20px; 
    height:50px; 
     margin-left:5px;
}

.row_panel{
  text-align:center;
 
}


.add{
  background-color:#0D1A73; 
   height:100%;
   font-size:14px;
   font-weight:bold;
   color:white;
  padding-top:5px;  
}

.col_region{
 /*  border:1px solid red;*/ 
}

.icon_location{ 
  float:left;
   /* border:1px solid green;*/ 
    width:30%; 
    margin-top:10px;
}

.region{
font-size:13px;
text-align:left;
float:right;
color:gray; 
/* border:1px solid green; */
    width:70%;
     margin-top:10px;
}



.user{
  background-color:#0D1A73;
  height:100%;
  padding-top:10px;     
}

.zoom{
  background-color:#0D1A73;
  height:100%;
  padding-top:10px;    
}

.top-10 {
 background-color:#0D1A73;
 height:100%;
 padding-top:15px; 
 /*border:1px solid green;*/
}

.top-10 h1{   
   font-size:16px;
    color:white;
   font-weight:bold;
}

/*
.contact{
   padding-top:14px;
    background-color:#0D1A73;
    height:100%;  
}
*/
.test_fon{
 color:white;
 font-size:12px;
 background-color:#0D1A73;
 width:100%;
 height:100%;
}

.forward, .back { 
  width:15px;
  height:15px; 
  color:#000;
  font-size:12px;
  font-weight:bold; 
 margin:2px 2px 2px 2px; 
 cursor:pointer;
 border-radius:15px; 
}

.back { 
 float:left;
  
}
.forward{ 
 float:right; 
}

.bg_file_name{
  background-color:#0D1A73; 
 height:15px;
  color:white;
  font-size:12px;
}


.empty{  
    background-color:#0D1A73;
    height:100%;  
}



.col_center_left{
 /* border:1px solid orange;*/

}

.col_center_right{
 /*  border:1px solid orange;*/

}

.col_container_bread{
  position:relative;
  margin-top:0px;
  margin-left:10px; 
  margin-bottom:10px;
  height:70px;
  /*  border:1px solid green;*/
 }



.col_bread_panel{margin-top:15px;}
.col_name_razdel{
  position:relative; 
}

.bread_name_razdel{
  position:absolute;
  margin-left:10px;
  margin-top:20px;
}

#sale{
position:absolute;
}
#deti{
position:absolute;
}


.im_ar1, .im_ar2{
  margin-left:8px;
}


.col_container_menu{
  position:relative;
  margin-top:0px;
  margin-left:10px;
  overflow:auto;
  padding-top:10px;   
  /*  border:1px solid green;*/
 height:69vh; 
}

.col_container_sub_menu{
  position:absolute;
  margin-top:0px;
  margin-left:10px;
  overflow:auto;
  padding-top:10px;     
   height:69vh; 
}


.col_container_adv{ 
 position:relative;  
  margin-top:0px;
  height:82vh;  
  overflow:auto;   
  /*border:1px solid green;*/
}

.col_container_map{ 
  position:absolute;
 /*border:1px solid red;*/
  margin-top:0px;
  height:82vh;   
  overflow:auto;   
}

 .col_page_adv{
  position:absolute; 
   margin-top:0px;
  height:82vh;   
  overflow:auto;   
 }

.big_map_box{   
 padding-top:50px; 
 width:100%;
height:530px;
background-color: rgba(255,255,255,0.8);
 /*border:1px solid pink;*/
}

.img_big_map{
 margin-top:50px;
  margin-left:50px;
}


.menu_box{ 
  height:100px;
  margin-top:0px; 
   
   /* border:1px solid red; */
   text-align:center;
}

.menu_img_box{
  overflow:hidden;  
  height:65px; 
 /*border:1px solid green; */
}

.img_menu{
margin:0px;
}


.link_title{
text-decoration:none;
color:#000000;
}

.link_title:hover{
  text-decoration:none;
  color:#990000;
}
.other{margin:30px 45px;}

.u_title{
  margin-top:2px;
  font-size:13px;
  font-weight:bold;
  
}

.adv_box{
  max-height:240px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
border:1px solid #ECEDF4;/**/
background-color: rgba(255,255,255,0.8);
}

.adv_img_box{
  overflow:hidden;
  width:100%;
  height:160px;
  background-color:gray;
  margin-bottom:3px;
}

.adv{  
  height:60px;
  margin:1%;
 /* border:1px solid red;*/
}

.adv_title h1{
 font-size:14px;   
 font-weight:bold;
 margin-bottom:0px;
}

.adv_link_title{
text-decoration:none;
color:#000;
}
.adv_link_title:hover{
  text-decoration:none;
 color:#990000;
  /* color:#FF8800;*/
}

 .adv_data{
  font-size:12px;  
  color:#000;
 }

 .adv_price{
  font-size:18px;
  font-weight:bold;
  color:#000;
 }
 
/*
.adv_txt{
  font-size:12px;
  color:gray;
}
*/
.adv_box_price_zvezda
{
  width:100%;
}

.adv_price{
float:left;
font-size:18px;
color:#000;
font-style:normal;
}

.zvezda{
float:right;
width:13%;
}

.page h3{
 margin-top:20px;
 margin-left:20px;
}

.img_page{
padding-top:20px;
}

.img_close{
  width:40%;
  margin-top:20px;
  opacity: 0.75;
}

.u_border{
	border:1px solid gray;
}

.u_margin{
margin:0 2% 4% 2%;
}
